@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Oswald:wght@300&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    --hue: 160;
    --sat: 60%;
    --lit1: 45%;
    --lit2: 35%;
    --lit3: 30%;
    --rotation: 180;
    --mainColour: hsl(var(--hue), var(--sat), var(--lit1));
    --mainColourDarker: hsl(var(--hue), var(--sat), var(--lit3));

    --mainBackgroundColour: hsl(calc(var(--hue) + var(--rotation)), var(--sat), var(--lit3));
    --containerBackgroundColour: hsl(var(--hue), var(--sat), var(--lit2));
    --letterDisplay: hsl(var(--hue), var(--sat), var(--lit1));;

    --mainHeadingBorderColour: rgba(0, 0, 0, 0.151);
    font-family: "Oswald";
    font-size: 20px;
    background-color: var(--mainBackgroundColour);
}

#lett {
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 900;
}

.inputLetters, .resultsList, .resultsCount {
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-family: "Open Sans";
    background-color: var(--letterDisplay);
    color: rgba(255, 255, 255, 0.952);
    padding: 0.2rem;
    margin: 0.1rem;
    margin-bottom: 1rem;
    min-width: 1.8rem;
    box-shadow: 2px 2px 0px 2px var(--mainColourDarker);
    border: 1px solid var(--mainColour);
    border-radius: 0.2rem;
}

.resultsCount {
    min-width: 2rem;
}

.container {
    padding: 1rem;
    background-color: var(--containerBackgroundColour);
    color: var(--mainColour);
    width: 30vw;
    height: auto;
    margin: 1rem auto;
    /* border-left: 1px solid var(--letterDisplay); */
    /* border-top: 1px solid var(--letterDisplay); */
    border-radius: 0.3rem;
    box-shadow: 2px 2px 0 2px var(--mainColourDarker);
}

.mainHeading, .resultsHeading {
    text-shadow: 3px 3px 3px var(--mainColourDarker);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

input {
    outline: none;
    border: none;
    width: 100%;
    height: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background: var(--letterDisplay);
    color: #fff;
    padding: 0.5rem;
    box-shadow: inset 2px 2px 0 2px var(--mainColourDarker);
    border-radius: 0.2rem;
}

input::placeholder {
    color: rgb(245, 245, 245);
}